# Reports

In [1]:
import os
import re
from datetime import datetime
current_datetime = datetime.now().strftime('%Y%m%d.%H%M')

import numpy as np
import pandas as pd

# for the notebook rendering 
from IPython.display import display, HTML, FileLink, Markdown
from IPython.display import FileLink as FL
from IPython.display import Markdown as MD


DIR = os.getcwd()
print(f'{DIR=}')

RDIR = os.path.join(DIR,'reports')
print(f'{RDIR=}')

DIR='c:\\Users\\JGarza\\GitHub\\wifi_monitor'
RDIR='c:\\Users\\JGarza\\GitHub\\wifi_monitor\\reports'

In [2]:
def break_down_buckets(idf,column,buckets,message='',nan_value=-1):
    """
    breaks a column down into buckets/bins
    """
    idf = idf.fillna(nan_value)

    print('',message,'\ncolumn: ',column, '\nbuckets: ', buckets)
    
    idf = pd.DataFrame(idf[column])
    idf['bucket'] = pd.cut(idf[column], bins=buckets)
    idf = idf.groupby(by='bucket').count()
    idf['percent'] = (idf[column]/idf[column].sum())*100
    idf['percent'] = idf['percent'].round(2)
    display(idf)

    return idf

#test
# break_down_buckets(df,'AGE_YRS',[-1,0,15,25,35,45,55,65,75,85,500])

In [3]:
def bar(num,denom=100.0,length=25,fillchar='#',emptychar='_'):
    fillnum = ((int)( (num/denom) * length))
    return '[' + ( fillnum * fillchar ).ljust(length,emptychar)  + ']' # + f" {(num/denom)*100.0:.2f}%     "

In [4]:
# YYYYMMDDHHmm
DateFilter = None
# DateFilter = 202501050000 # new firmware r44715

In [5]:
def getfirmware(ssid,dt):
    if 'NH' in ssid:
        
        if dt <= 202501100810:
            return "r58881"
        elif dt > 202501100811 and dt <= 202501102101:
            return "r44715"
        elif dt > 202501102101 : #and dt <= 203000000000:
            return "r58881"
    else:
        return ""

In [6]:
data = {}

for i in os.listdir(RDIR):
    # print(i)
    try:

        text = ''
        with open(os.path.join(RDIR, i), 'r') as f:
            text = f.read()
        # print(text)

        dt = re.findall('Datetime_alt: .*\n',text)[0]
        dt = dt.replace('Datetime_alt: ','').replace('\\n','')
        dt = int(dt)
            
        if DateFilter != None:
            if dt < DateFilter:
                #move on to next
                print('exclude',dt,DateFilter)
                continue
            else:
                print('include',dt,DateFilter)

        wifi = re.findall('^SSID:.*\n',text)[0]
        wifi = wifi.replace('\n', '').replace('SSID: ','')
        # wifi = wifi + " " + getfirmware(wifi,dt)

        pings = re.findall('.*time=.*\n',text)
        pings = [ re.sub('.*time=','',p) for p in pings]
        pings = [ re.sub('ms.*\n','',p) for p in pings]
        pings = [ int(p) for p in pings]
        # print(*pings,sep='\n')

        timeouts = re.findall('Request timed out.\n',text)

        trycount = re.findall('(Request|Reply).*\n',text)

        if wifi in data.keys():
            pass
        else:
            data[wifi] = {}
            data[wifi]['pings'] = []
            data[wifi]['timeouts'] = []
            data[wifi]['trycount'] = []
        
        data[wifi]['pings'].extend(pings)
        data[wifi]['timeouts'].extend([len(timeouts)])
        data[wifi]['trycount'].extend([len(trycount)])

    except Exception as e:
        pass
        print(i,e)

# for k in data.keys():
#     print('-'*20)
#     print(k)
#     df_pings = pd.DataFrame(data[k]['pings'])
#     print(df_pings[0].describe())
#     print()
#     print(f'Request timed out:')
#     print(f'{ sum(data[k]['timeouts']) } out of { sum(data[k]['trycount']) }')
#     print(f'{ sum(data[k]['timeouts']) / sum(data[k]['trycount']) }')

file = os.path.join(DIR,'docs','index.html')
with open(file,'w',encoding='utf8') as f:

    f.write(f'<h>{current_datetime}</h>')

    for k in data.keys():
        
        f.write('<p>' + '-'*20 + '</p>')

        f.write(f'<p>{k}</p>')
        df_pings = pd.DataFrame(data[k]['pings'])

        csvlines = df_pings.describe().to_csv()
        f.write(csvlines[4::].replace('\n','<br \>').replace(',','\t'))

        # print(df_pings)

        bdb = break_down_buckets(df_pings,0,[0,5,10,15,20,30,40,50,100,250,500])
        bdb['bar'] = bdb.percent.apply(bar)
        # display(bdb)

        f.write('<br \>')
        f.write(bdb.to_html())
        f.write('<br \>')

        f.write(f'Request timed out (failed pings):<br \>')
        f.write(f'{ sum(data[k]['timeouts']) } out of { sum(data[k]['trycount']) }<br \>')
        f.write(f'{ sum(data[k]['timeouts']) / sum(data[k]['trycount']) }')

Error404NH_202412292039.txt list index out of range
Error404_202412292041.txt list index out of range
Error404_EXT_202412292045.txt list index out of range

column:  0
buckets:  [0, 5, 10, 15, 20, 30, 40, 50, 100, 250, 500]

<>:77: SyntaxWarning: invalid escape sequence '\>'
<>:85: SyntaxWarning: invalid escape sequence '\>'
<>:87: SyntaxWarning: invalid escape sequence '\>'
<>:89: SyntaxWarning: invalid escape sequence '\>'
<>:90: SyntaxWarning: invalid escape sequence '\>'
<>:77: SyntaxWarning: invalid escape sequence '\>'
<>:85: SyntaxWarning: invalid escape sequence '\>'
<>:87: SyntaxWarning: invalid escape sequence '\>'
<>:89: SyntaxWarning: invalid escape sequence '\>'
<>:90: SyntaxWarning: invalid escape sequence '\>'
C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3279194875.py:77: SyntaxWarning: invalid escape sequence '\>'
  f.write(csvlines[4::].replace('\n','<br \>').replace(',','\t'))
C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3279194875.py:85: SyntaxWarning: invalid escape sequence '\>'
  f.write('<br \>')
C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3279194875.py:87: SyntaxWarning: invalid escape sequence '\>'
  f.write('<br \>')
C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3279194875.py:89: SyntaxWarning: invalid escape sequence '\>'
  f.write(f'Request timed out (failed pings):<br \>')
C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3279194875.py:90: SyntaxWarning: invalid escape sequence '\>'
  f.write(f'{ sum(data[k]['timeouts']) } out of { sum(data[k]['trycount']) }<br \>')
C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3656564501.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  idf = idf.groupby(by='bucket').count()

              0  percent
bucket
(0, 5]        0     0.00
(5, 10]     297    21.29
(10, 15]    830    59.50
(15, 20]     99     7.10
(20, 30]     65     4.66
(30, 40]     25     1.79
(40, 50]     20     1.43
(50, 100]    27     1.94
(100, 250]   25     1.79
(250, 500]    7     0.50

column:  0
buckets:  [0, 5, 10, 15, 20, 30, 40, 50, 100, 250, 500]

C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3656564501.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  idf = idf.groupby(by='bucket').count()

              0  percent
bucket
(0, 5]        0     0.00
(5, 10]     696    49.75
(10, 15]    578    41.32
(15, 20]     56     4.00
(20, 30]     50     3.57
(30, 40]      9     0.64
(40, 50]      5     0.36
(50, 100]     4     0.29
(100, 250]    1     0.07
(250, 500]    0     0.00

column:  0
buckets:  [0, 5, 10, 15, 20, 30, 40, 50, 100, 250, 500]

C:\Users\JGarza\AppData\Local\Temp\ipykernel_30336\3656564501.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  idf = idf.groupby(by='bucket').count()

              0  percent
bucket
(0, 5]        0     0.00
(5, 10]      43     3.08
(10, 15]    899    64.31
(15, 20]    283    20.24
(20, 30]     96     6.87
(30, 40]     32     2.29
(40, 50]     19     1.36
(50, 100]    18     1.29
(100, 250]    5     0.36
(250, 500]    3     0.21